<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div>
        <nav>
            <span>RogerMart.</span>
            <input type="text" placeholder="What are you looking for?">
            <span>Welcome Back! <span th:text=${session.user.name}></span></span>
            <a href="">wishlist</a>
            <a href="">cart</a>
        </nav>
        <div th:each="item : ${session.items}">
            <img th:src=${item.imageUrl} alt="">
            <p th:text=${item.name}></p>
            <p th:text=${item.prices}></p>
            <button>Add to Cart</button>
        </div>
    </div>

</body>

</html>