<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.style.css}">
</head>

<body>
    <div class="login-container">
        <h2>Login</h2>

        <form th:action="@{/login}" th:object="${userForm}" method="post">
            <p class="global-error" th:if="${loginError}" th:text="${loginError}"></p>

            <div class="form-group">
                <input type="email" th:field="*{email}" placeholder="Email">
                <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>

            <div class="form-group">
                <input type="password" th:field="*{password}" placeholder="Password">
                <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>

            <button type="submit" class="btn-submit">Login</button>
        </form>

        <a class="link-register" th:href="@{/signin}">Don't have an account? Sign In Here</a>
    </div>
</body>

</html>